body {
    background-color: black;
}

p, b , h1,h3 {
    color: white;
}


.navbar {
    position: sticky;
    background-color: black !important;
    margin-bottom: 2px solid orange !important;
}

.navlink {

    text-decoration: none;
    color: brown;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 165, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}



.gradient-text {
    background: linear-gradient(to right, purple, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-border {
    border: 3px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, purple, orange);
}


.contacter{
    background-color: rgb(240, 158, 59);
    color: black;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, purple, orange);
    cursor: pointer;
}

.contacter:hover {
    color: #ffa500;
}



.gradient-hr {
    border: 0;                  
    height: 2px;               
    background: linear-gradient(to right, purple, orange); 
}
